<html>
<head>
    <title>Отчёт Q31</title>

    <script src="~/js/Views/ReportsQ/IndexQ31.js"></script>

    <script src="~/js/JQWidgets/jqxchart.js"></script>
    <script src="~/js/JQWidgets/jqxchart.api.js"></script>
    <script src="~/js/JQWidgets/jqxchart.core.js"></script>
    <script src="~/js/JQWidgets/jqxchart.annotations.js"></script>
    <script src="~/js/JQWidgets/jqxchart.rangeselector.js"></script>
    <script src="~/js/JQWidgets/jqxchart.waterfall.js"></script>
    <script src="~/js/JQWidgets/jqxdraw.js"></script>
    <script src="~/js/JQWidgets/jqxdata.js"></script>

</head>
<body>

    <div id='chartContainer' style="width:1100px; height:500px">
    </div>

</body>
</html>












