<html>
<head>
    <title>Отчёт Q6</title>

    <script src="~/js/Views/ReportsQ/Index.js"></script>

    <script src="~/js/JQWidgets/jqxchart.js"></script>
    <script src="~/js/JQWidgets/jqxchart.api.js"></script>
    <script src="~/js/JQWidgets/jqxchart.core.js"></script>
    <script src="~/js/JQWidgets/jqxchart.annotations.js"></script>
    <script src="~/js/JQWidgets/jqxchart.rangeselector.js"></script>
    <script src="~/js/JQWidgets/jqxchart.waterfall.js"></script>
    <script src="~/js/JQWidgets/jqxdraw.js"></script>
    <script src="~/js/JQWidgets/jqxdata.js"></script>

</head>
<body>

    <table style="max-width: 1200px; width: 1200px;">
        <tr>
            <th></th>
            <th>Банки</th>
            <th>Классификатор</th>
            <th>начало периода</th>
            <th>окончание периода</th>
        </tr>

        <tr>
            <td>
                <button type="button" id="btnRefresh" name="btnRefresh" onclick="GetDataReportQ6()">ОБНОВИТЬ</button>
            </td>
            <td>
                <div id='BankSel'></div>
            </td>
            <td>
                <div id='KlassificatorsSel'></div>
            </td>
            <td><input style="padding:3px; margin: 5px; width: 90%;" placeholder="Дата начала" id="dateStart" /></td>
            <td><input style="padding:3px; margin: 5px; width: 90%;" placeholder="Дата окончания" id="dateEnd" /></td>
        </tr>
    </table>

    <div style="max-height: 400px; max-width: 1200px; overflow: auto; ">
        <table class="table-bordered table-hover" id="TabReportQ6" style="cursor: pointer;">
        </table>
    </div>
    <br />

    <div id='chartContainer' style="width:1100px; height:500px">
    </div>

</body>
</html>










