<html>
<head>
    <title>Отчёт Q7(2.1, 2.2, 2.3)</title>

    <script src="~/js/Views/ReportsQ/IndexQ7.js"></script>

    <script src="~/js/JQWidgets/jqxchart.js"></script>
    <script src="~/js/JQWidgets/jqxchart.api.js"></script>
    <script src="~/js/JQWidgets/jqxchart.core.js"></script>
    <script src="~/js/JQWidgets/jqxchart.annotations.js"></script>
    <script src="~/js/JQWidgets/jqxchart.rangeselector.js"></script>
    <script src="~/js/JQWidgets/jqxchart.waterfall.js"></script>
    <script src="~/js/JQWidgets/jqxdraw.js"></script>
    <script src="~/js/JQWidgets/jqxdata.js"></script>

</head>
<body>
    <br />
    <p>2.1, 2.2, 2.3</p>
    <br />

    <table style="max-width: 1200px; width: 1200px;" id="tableMenu" name="tableMenu">
        <tr>
            <th></th>
            <th>SysT</th>
            <th>начало периода</th>
            <th>окончание периода</th>
            <th id="thRankingData"></th>
            <th></th>
        </tr>

        <tr>
            <td>
                <button type="button" id="btnRefresh" name="btnRefresh" onclick="refresh()">ОБНОВИТЬ</button>
            </td>
            <td>
                <div id='SysTsel'></div>
            </td>
            <td>
                <div id='dateStart'></div>
            </td>
            <td>
                <div id='dateEnd'></div>
            </td>
            <td>
                <div id='dateRanking'></div>
            </td>          
            <td>
                <div id='selNormals'></div>
            </td>
        </tr>
    </table>

    <div style="max-height: 400px; max-width: 1200px; overflow: auto; ">
        <table class="table-bordered table-hover" id="TabReportQ7" style="cursor: pointer;">
        </table>
    </div>
    <br />

    <div id='chartContainer' style="width:1100px; height:10px">
    </div>

   

    <div style="max-height: 400px; max-width: 1200px; overflow: auto; ">
        <table class="table-bordered table-hover" id="TabSpec" style="cursor: pointer; width: 100%;">
        </table>
    </div>

</body>
</html>












