<html>
<head>
    <title>Отчёт Q6</title>

    <script src="~/js/Views/ReportsQ/IndexQ8.js"></script>

    <script src="~/js/JQWidgets/jqxchart.js"></script>
    <script src="~/js/JQWidgets/jqxchart.api.js"></script>
    <script src="~/js/JQWidgets/jqxchart.core.js"></script>
    <script src="~/js/JQWidgets/jqxchart.annotations.js"></script>
    <script src="~/js/JQWidgets/jqxchart.rangeselector.js"></script>
    <script src="~/js/JQWidgets/jqxchart.waterfall.js"></script>
    <script src="~/js/JQWidgets/jqxdraw.js"></script>
    <script src="~/js/JQWidgets/jqxdata.js"></script>

</head>
<body>

    <table style="max-width: 1200px; width: 1200px; min-width: 1200px;">
        <tr>
            <th></th>
            <th>Банки</th>
            <th>Месяц</th>

        </tr>

        <tr>
            <td>
                <button type="button" id="btnRefresh" name="btnRefresh" onclick="refresh()">ОБНОВИТЬ</button>
            </td>
            <td>
                <div id='BankSel'></div>
            </td>

            <td>
                <div id='dateStart'></div>
            </td>


        </tr>
    </table>

    <br />

    <div id='chartContainerA' style="width:1100px; height:500px">
    </div>

    <div id='chartContainerP' style="width:1100px; height:500px">
    </div>

</body>
</html>











