<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/JQWidgets/jqx.base.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/JQWidgets/jqx.bootstrap.css" />

    <script src="~/js/JQWidgets/globalization/globalize.js"></script>
    <script src="~/js/JQWidgets/globalization/globalize.culture.ru-RU.js"></script>
    <script src="~/js/JQWidgets/globalization/globalize.culture.en-US.js"></script>
    <script src="~/js/JQWidgets/globalization/localization.js"></script>

    @*<link rel="stylesheet" href="~/css/JQWidgets/jqx.ui-smoothness.css" />
        <link rel="stylesheet" href="~/css/JQWidgets/jqx.metro.css" />
        <link rel="stylesheet" href="~/css/JQWidgets/jqx.web.css" />
        <link rel="stylesheet" href="~/css/JQWidgets/jqx.metrodark.css" />
        <link rel="stylesheet" href="~/css/JQWidgets/jqx.orange.css" />
        <link rel="stylesheet" href="~/css/JQWidgets/jqx.mobile.css" />*@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Utilites.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //  $.jqx.theme = 'ui-smoothness';
            $.jqx.theme = 'bootstrap';
            //  $.jqx.theme = 'mobile';
            //   $.jqx.theme = 'web';
        });
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главный форум</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Reports Q6</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="IndexQ7">Reports Q7</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="IndexQ8">Reports Q8</a>
                        </li>

                        

                        @*<li class="dropdown">
            <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Отчёты
                <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu">
            </ul>
        </li>*@




                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UnlimitedForum" asp-action="Index">Безлимитный форум</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Bankrep" asp-action="Index">Bankrep.ru</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Vacancy" asp-action="Index">Вакансии</a>
        </li>*@




                    </ul>
                </div>
                @Html.Partial("_Loginpartial")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Форум
        </div>
    </footer>

    <script type="text/javascript" src="~/js/JQWidgets/jqxwindow.js"></script>

    <script src="~/js/JQWidgets/jqxlayout.js"></script>
    <script src="~/js/JQWidgets/jqx-all.js"></script>

    <script src="~/js/JQWidgets/jqxbuttons.js"></script>

    <script src="~/js/JQWidgets/jqxwindow.js"></script>
    <link rel="stylesheet" href="~/css/JQWidgets/jqx.base.css" />

    <script src="~/js/JQWidgets/jqxlayout.js"></script>
    <script src="~/js/JQWidgets/jqx-all.js"></script>

    <link rel="stylesheet" href="~/css/JQWidgets/jqx.bootstrap.css" />
    <link rel="stylesheet" href="~/css/JQWidgets/jqx.ui-smoothness.css" />
    <link rel="stylesheet" href="~/css/JQWidgets/jqx.metro.css" />
    <link rel="stylesheet" href="~/css/JQWidgets/jqx.web.css" />

    @RenderSection("Scripts", required: false)
</body>
</html>
