<html>
<head>
    <title>Админ панель</title>

    <script type="text/javascript" src="~/js/Views/Topic/Admin.js"></script>

    <script type="text/javascript" src="~/js/JQWidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="~/js/JQWidgets/jqxgrid.edit.js"></script>

</head>
<body>

    <h2>Админ панель</h2>

    <div id="tabTopic"></div>

</body>
</html>
